.post {
    border: 2px solid lightgrey;
    margin: 1rem auto 3rem;
    height: auto;
    width: 50%;
    color: black;
}

.post .post-top {
    display: table;
    margin: 1rem 0;
}

.post .post-top img {
    margin: 0 1rem 0 2rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    vertical-align: middle;
    display: inline-block;
}

.post .post-top p {
    font-size: 1rem;
    display: inline-block;
    font-weight: 500;
}

.post .post-mid img {
    width: 100%;
}

.post .post-bottom {
    padding-top: 1rem;
    margin: 0 1rem;
}

.post .post-bottom p {
    font-weight: 500;
}

.icon {
    margin: 0 .5rem;
    font-size: 1.5rem;
}

.icon:first-child {
    margin-left: 0;
}

.time {
    font-size: .8rem;
    color: grey;
    margin-left: 1rem;
}

.new-comment {
    width: 100%;
}

.new-comment input {
    width: 100%;
    height: 3rem;
    border: 1px solid lightgray;
    padding-left: 1rem;
}